@import url(global.css);

*, *::before, *::after {
    font-family: var(--font-family);
    font-size: var(font-size-base);
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-1);
    margin: 0;
}

#home-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#main-content-container {
    max-height: 85%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#app-content-container {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-2);
    color: white;
    overflow: hidden;
    padding-top: 2rem;
    padding-left: 12%;
    padding-right: 12%;
    box-shadow: inset 0px 0px 60px 15px var(--background-3);
}

#dynamic-timeline-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: var(--font-size-lg);
}

#dynamic-timeline-container::before {
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: translateY(110%);
    /* background-color: rgba(255,255,255,0.1); */
    backdrop-filter: blur(5px);
}

#timeline-vector {
    position: relative;
    width: 100%;
    height: 6px;
    margin-bottom: 32px;
    border-radius: var(--border-radius-lg);
    background-color: var(--color-bg-25);
}

#timeline-marker {
    position: absolute;
}

#music-scroll-container {
    width: 100%;
    flex: 1;
    padding-top: 2rem;
    overflow-y: scroll;
    text-align: justify;
}

#music-scroll-container>p {
    margin-top: 4rem;
}

#music-scroll-container::-webkit-scrollbar {
    display: none;
}

#thank-you-container {
    flex-grow: 1;
    min-width: 30%;
    max-width: 30%;
    box-shadow: inset 3px 0 15px 1px var(--background-3);
    background: var(--background-1);
}

#thank-you-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 1rem 3rem;
    color: #FFF;
    overflow-y: scroll;
}

/* IMPORTANT: the custom scrollbar doesn't render without this */
#thank-you-content-container::-webkit-scrollbar {
    width: 8px;
}

#thank-you-content-container::-webkit-scrollbar-track {
    background: none;
}

#thank-you-content-container::-webkit-scrollbar-thumb {
    background: var(--color-bg-25);
    border-radius: var(--border-radius-lg);
}

#thank-you-content-container:hover::-webkit-scrollbar-thumb {
    background: var(--color-bg-25);
}

#thank-you-content-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#thank-you-content-container>h1 {
    text-align: center;
}

#home-footer-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    width: 100%;
    color: white;
    background-color: var(--background-1);
    box-shadow: inset 0 5px 15px 1px var(--background-3);
}