@import url(global.css);

*, *::before, *::after {
    font-family: var(--font-family);
    font-size: var(font-size-base);
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-1);
    margin: 0;
}

#home-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-content-container {
    max-height: 80%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#app-content-container {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-5);
    color: white;
    overflow: hidden;
    padding-left: 12%;
    padding-right: 12%;
}

#dynamic-timeline-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: var(--font-size-lg);
}

#timeline-title {
    position: absolute;
}

#music-scroll-container {
    width: 100%;
    flex: 1;
    overflow-y: scroll;

    text-align: justify;
}

#music-scroll-container::-webkit-scrollbar {
    display: none;
}

#thank-you-container {
    flex-grow: 1;
    max-width: 30%;
    box-shadow: -1px 0 5px 1px var(--color-2-100), -1px 0 10px 1px var(--color-4-100), inset 5px 0 15px 1px var(--color-bg-5);
    background: var(--background-1);
}

#thank-you-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 1rem 3rem;
    color: #FFF;
    overflow-y: scroll;
}

#thank-you-content-container>h1 {
    text-align: center;
}

#home-footer-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    width: 100%;
    color: white;
    background-color: var(--background-1);
    box-shadow: 0 -1px 5px 1px var(--color-2-100), 0 -1px 10px 1px var(--color-4-100), inset 0 5px 15px 1px var(--color-bg-5);
}